/*header区域*/
.site-header{
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    z-index: 9999;
    top: 0;
}
.site-header:after, .site-header:before {
    content: "";
    display: table;
    table-layout: fixed;
}
.site-top {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 60px;
    font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
}
.site-top .lower {
    position: relative;
    float: right;
    margin: 14px 0 11px;
}
.searchbox, .site-top .lower {
    animation: searchbox 1.5s;
}
.site-top ul {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.site-top ul li {
    float: left;
    position: relative;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.site-top ul li a {
    padding: 12px 15px;
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 #000, -1px -1px #000, 0 -1px #000, -1px 0 #000;
}
a {
    background-color: transparent;
    text-decoration: none;
}