*{
    margin:0px;
    padding:0px;
    box-sizing: border-box
}
:after, :before {
    box-sizing: inherit;
}
#content {
    animation: main 1.5s;
}
.site-content {
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}
#content {
    animation: main 1.5s;
}
@keyframes main{
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.site-content:after, .site-content:before,.entry-content:after, .entry-content:before{
    content: "";
    display: table;
    table-layout: fixed;
}
.site-main {
    padding: 80px 0 0;
    font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}
.hentry {
    margin: 0 0 1.5em;
}
h1.entry-title {
    font-size: 23px;
    font-weight: 600;
    color: #737373;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
.entry-header h1:before {
    content: "#";
    margin-right: 6px;
    color: #ff6d6d;
    font-size: 20px;
    font-weight: 600;
}
.entry-content h2 {
    color: #737373;
    font-size: 20px;
    margin:12px 0;
}
.entry-content h2:before {
    content: "[";
    margin-right: 5px;
    color: #ff6d6d;
    font-size: 25px;
    position: relative;
    top: 2px;
}
.entry-content h2:after {
    content: "]";
    margin-left: 5px;
    color: #ff6d6d;
    font-size: 25px;
    position: relative;
    top: 2px;
}
